.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 18px;
}

@media screen and (max-width: 940px) {
    .card-list {
        grid-template-columns: repeat(5, 1fr); /* Изменено на фиксированное количество столбцов для экранов с шириной до 940px */
    }
}

@media screen and (max-width: 620px) {
    .card-list {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}
